<div class="article-wrapper">
    <div class="row">
        {{#each article}}
        <div class="col-md-12 article">
                <div class="link"><a href="{{this.link}}">{{this.title}}</a></div>
                <div class="btn-container">
                    {{#unless this.saved}}
                        <a href="/save/{{this._id}}" id="save"><button type="button" class="btn btn-default pull-right">Save</button></a>
                    {{/unless}}
                </div>
        </div>
        {{/each}}
    </div>
</div>