<div class="article-wrapper">
    <div class="row">

        {{#each article}}
        <div class="col-md-12 article">
            <div class="link"><a href="{{this.link}}">{{this.title}}</a></div>
            <div class="btn-container">
                <button type="button" class="btn btn-info btn-lg note-modal" data-toggle="modal" data-id="{{this._id}}" data-target="#noteModal">Open Modal</button>
            </div>
        </div>
        {{/each}}

    </div>
</div>

{{!-- <div id="noteModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="noteModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="notes"></div>
        </div>
    </div>
</div> --}}